# Exemple de variables d'environnement
# Copiez ce fichier en .env.local et remplissez vos valeurs

# Calendly Link
NEXT_PUBLIC_CALENDLY_LINK=https://calendly.com/votre-lien

# Contact Info
NEXT_PUBLIC_PHONE=+33612345678
NEXT_PUBLIC_EMAIL=contact@nailsbeauty.com
NEXT_PUBLIC_WHATSAPP=https://wa.me/33612345678
NEXT_PUBLIC_INSTAGRAM=https://instagram.com/nails_beauty_paris

# Analytics (optionnel)
# NEXT_PUBLIC_GA_ID=UA-XXXXXXXXX-X
